div {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 40px;
}

h2{
    font-size: 34px;
}

h3 {
    font-size: 23px;
}
h4 {
    font-size: 50px;
    font-weight: bold;
}
p {
    font-size: 21px;
}

.nav {
    width: 100%;
    height: 120px;
    background-color: #7dbcb5;
}

.menu ul {
    width: 150px;
    position: absolute;
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.menu a {
    display: block;
    padding: 20px;
    background-color: #67aaa3;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

.menu a:hover {
    background-color: #406d68;
}

.menu ul li ul {
    display: none;
}

.menu ul li a:hover + ul,
.nav ul li ul:hover {
    display: block;
}

#inicio-sesion {
    right: 30px;
    margin-top: 20px;
    position: absolute;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
}

#contenedorimg img {
    width: 100%;
    height: 100%;
}
#botonbrazos{
    right: 30px;
    margin-top: 260px;
    position: absolute;
    width: 300px;
    height: 60px;
    color: #ffff;
    background-color: #7dbcb5;
    border-radius: 10px;
}
#botonbrazos h2{
    text-align: center;
    line-height: 5px;
}
#botonpiernas{
    left: 30px;
    margin-top: 260px;
    position: absolute;
    width: 300px;
    height: 60px;
    color: #ffff;
    background-color: #7dbcb5;
    border-radius: 10px;
}
#botonpiernas h2{
    text-align: center;
    line-height: 5px;
}
#botonabdomen{
    right: 30px;
    margin-top: 260px;
    position: absolute;
    width: 320px;
    height: 60px;
    color: #ffff;
    background-color: #7dbcb5;
    border-radius: 10px;
}
#botonabdomen h2{
    text-align: center;
    line-height: 5px;
}
#botoncompleta{
    left: 30px;
    margin-top: 260px;
    position: absolute;
    width: 350px;
    height: 60px;
    color: #ffff;
    background-color: #7dbcb5;
    border-radius: 10px;
}
#botoncompleta h2{
    text-align: center;
    line-height: 5px;
}
.texto-rutina-portada{
    margin-left: 45%;
    margin-top: 550px;
    position: absolute;
}
.texto-rutina-portada h4{
    color: white;
    text-shadow: 1px 0 0 #adadad, -1px 0 0 #adadad;
    }

.boton-portadas-rutinas{
    right: 30px;
    margin-top: 45px;
    position: absolute;
    width: 300px;
    height: 60px;
    color: #ffff;
    background-color: #7dbcb5;
    border-radius: 10px;
}
.boton-portadas-rutinas p{
    text-align: center;
    line-height: 15px;
}
.imagen-portadas-rutinas img {
    width: 100%;
    height: 100%;
}
.rutinas img{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 26px;
}
.rutinas h3{
    text-align: center;
    font-weight: 100;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 26px;
}
.publicidad-rutinas{
    margin-left: 30%;
      
}
<<<<<<< HEAD
#seleccion-tiempo-dias{
    position: absolute;
    margin-top: 200px;
    margin-left: 20%;
}
#textoconfiguracion{
    position: relative;
    padding-right: 1px;
}
#textoconfiguracion h3{
    font-size:  18px;
    padding-top: 180px;
    padding-left: 150px;
    padding-right: 0;
}
#textoconfiguracion p{
    font-size:  18px;
    font-weight: bold;
    padding-left: 100px;
    padding-right: 0;
}
#aceptar-configuracion{
    left: 170px;
    margin-top: 360px;
    position: absolute;
    width: 150px;
    height: 45px;
    color: #ffff;
    background-color: #7dbcb5;
    border-radius: 10px;
}
#aceptar-configuracion{
    text-align: center;
    line-height: 1px;
}

#listadias{
    margin-top: 20px;
}
#imgconfig{
    
    
}
=======

>>>>>>> parent of 3ac6af9... configuración de rutina
#centro {
    text-align: center;
    padding-left: 375px;
    padding-right: 375px;
}

#filosofia {
    text-align: center;
}

#logo {
    margin: 10px auto;
}

.centrar {
    margin: 20px auto;
    display: block;
    
}

#inicio-footer{
    width: 100%;
    height: 10px;
    background-color: #ffd0c5;
    
}
.footer {
    text-align: center;
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
  }
.footer img{
    margin-right: 30px;
}