a{
    text-decoration: none;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 40px;
}

h2{
    font-size: 34px;
}

h3 {
    font-size: 23px;
}
h4 {
    font-size: 50px;
    font-weight: bold;
}
p {
    font-size: 21px;
}
.nav {
    width: 100%;
    height: 120px;
    background-color: #7dbcb5;
}

.menu ul {
    width: 150px;
    position: absolute;
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.menu a {
    display: block;
    padding: 20px;
    background-color: #67aaa3;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

.menu a:focus {
    background-color: #406d68;
}

.menu ul li ul {
    display: none;
}

.menu ul li a:focus + ul,
.nav ul li ul:hover{
    display: block;
}

#inicio-sesion {
    right: 30px;
    margin-top: 20px;
    position: absolute;
}


#parrafo1 {
    text-align: justify;
    color: #6a6a6a;
    font-family: Open Sans;
    font-size: 12pt;
    margin-left: 40px;
    margin-right: 27px;
}
#escribircomentariopadding textarea,p{
    margin-left: 25px;
    padding-right: 10px;
}
.enviarbotonacerca {
    width: 80px;
    height: 40px;
    color: #ffff;
    background-color: #7dbcb5;
    border-radius: 10px;
}
.enviarbotonacerca h3{
    color: #ffff;
    font-size: 18px;
    text-align: center;
    line-height: 2;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
}

#logo {
    margin: 10px auto;
}

.centrar {
    margin: 20px auto;
    display: block;
    
}
#inicio-footer{
    width: 100%;
    height: 10px;
    background-color: #ffd0c5;
    
}
.footer {
    text-align: center;
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
  }
.footer img{
    margin-right: 30px;
}
#imagenportadaregis img{
    width: 100%
}
.botonpublicarcomunidad{
    position: absolute;
    margin-left: 70%;
    margin-top: 300px;
    width: 150px;
    height: 45px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
}
.botonpublicarcomunidad h1{
    font-size: 18px;
    text-align: center;
}
.botonpublicarcomunidad1{
    position: absolute;
    margin-left: 70%;
    margin-top: 400px;
    width: 150px;
    height: 45px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
}
.botonpublicarcomunidad1 h1{
    font-size: 18px;
    text-align: center;
}
.registro-formulario {
   background-color: #e4f2f9;
    width: 100%;
}
#formulariorellenado{
    padding-left: 5%;
}
#formulariorellenado h2{
    font-size: 14px;
    margin-top: 30px;
    padding-bottom: 5px;
}
#imgformu img{
    padding-left: 73%;
}
.botonentrarreg{
    position: absolute;
    margin-left: 30%;
    margin-top: 10px;
    width: 150px;
    height: 45px;
    color: #ffffff;
    background-color: #7dbcb5;
    border-radius: 10px;
}
.botonentrarreg h1{
    font-size: 18px;
    text-align: center;
        
}

/* MEDIA QUERY*/
@media (max-width: 700px) {
.menu a img{
    width: 20px;
    }  
#inicio-sesion img{
    width: 55px;
    
}
#logo img{
   width: 65px;
   padding-top: 10px;
} 
.nav {
    width: 100%;
    height: 90px;
    background-color: #7dbcb5;
}
#centro {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#inicio-footer{
   margin-top: 220px;
    width: 100%;
    height: 10px;
    background-color: #ffd0c5;
}
.footer {
    text-align: center;
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
  }
.botonpublicarcomunidad{
    position: absolute;
    margin-left: 130px;
    margin-top: 250px;
    width: 90px;
    height: 25px;
    color: #ffffff;
    background-color: #7dbcb5;
    border-radius: 10px;
}
.botonpublicarcomunidad h1{
    font-size: 11px;
    text-align: center;
}
.botonpublicarcomunidad1{
    position: absolute;
    margin-left: 130px;
    margin-top: 300px;
    width: 90px;
    height: 25px;
    color: #ffffff;
    background-color: #7dbcb5;
    border-radius: 10px;
}
.botonpublicarcomunidad1 h1{
    font-size: 11px;
    text-align: center;
}
#imagenportadaregis img{
    width: 100%;
    padding-bottom: 0px;
    margin-top: 0px;
}
#inicio-footer{
    width: 100%;
    height: 10px;
    background-color: #ffd0c5;
}
.footer {
    text-align: center ;
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
  }
.footer img{
    margin-right: 30px;
} 
#imgformu img{
    padding-left: 73%;
    width: 100px;
}
#formulariorellenado .col-4{
    width: 100%    
}
}